@slb-dls:registry=https://pkgs.dev.azure.com/slb-swt/_packaging/slb-dls/npm/registry/
registry=https://registry.npmjs.org/


; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/dls-web-components/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/dls-web-components/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/dls-web-components/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/dls-web-components/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/dls-web-components/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/dls-web-components/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-dls/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-dls/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-dls/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-dls/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-dls/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-dls/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-packages/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-packages/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-packages/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-packages/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/delfi-gui/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/delfi-gui/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/delfi-gui/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/delfi-gui/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/delfi-gui/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/delfi-gui/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-delfi-exploration/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-delfi-exploration/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-delfi-exploration/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-delfi-exploration/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-delfi-exploration/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-delfi-exploration/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-portal/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-portal/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-portal/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-portal/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-portal/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-portal/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/WellboreInterpretation/_packaging/slb-wellbore-interpretation/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/WellboreInterpretation/_packaging/slb-wellbore-interpretation/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/WellboreInterpretation/_packaging/slb-wellbore-interpretation/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/WellboreInterpretation/_packaging/slb-wellbore-interpretation/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/WellboreInterpretation/_packaging/slb-wellbore-interpretation/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/WellboreInterpretation/_packaging/slb-wellbore-interpretation/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/dmp-ui-components/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/dmp-ui-components/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/dmp-ui-components/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/dmp-ui-components/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/dmp-ui-components/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/dmp-ui-components/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz-dev/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz-dev/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz-dev/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz-dev/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz-dev/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-2d-viz-dev/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/STIC/_packaging/gis-canvas-fluid/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/STIC/_packaging/gis-canvas-fluid/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/STIC/_packaging/gis-canvas-fluid/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/STIC/_packaging/gis-canvas-fluid/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/STIC/_packaging/gis-canvas-fluid/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/STIC/_packaging/gis-canvas-fluid/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-innersourcing/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-innersourcing/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-innersourcing/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-innersourcing/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-innersourcing/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-innersourcing/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/ng2-geotoolkit/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-wellbore/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; begin auth token
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/registry/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/registry/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/:username=slb-swt
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/:_password="aWhhNnZlZXhiM3pxMnR3bHF5aGJhdWtqNGx0dmxnM2kyZmh5ZnRha3ViNGNpdnAyYXJ3cQ=="
//pkgs.dev.azure.com/slb-swt/_packaging/slb-cloud3d-viz/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
